<section class="promo">
  <div class="promo__inner">
    <div class="promo__content-wrap">
      <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
        <circle cx="250" cy="250" r="250" fill="none" stroke="#fff" stroke-miterlimit="10"/>
      </svg>
      <div class="promo__content">
        <div class="promo__content-header">
          <img src="__static__/img/general/logoword.min.svg" width="188" height="40" alt="" />
          <p>new era for construction design</p>
        </div>
        <a href="#" class="promo__sign-up">sign up<br>free</a>
        <span class="promo__mouse"></span>
      </div>
    </div>
  </div>
</section>
