<div class="sign-beta">
<div class="sign-beta__form-wrap">
  <h2 class="sign-beta__title">Sign up for Beta</h2>
  <p class="sign-beta__text">Single platform for superior construction project planning, cost estimating and bid pricing</p>
  <form action="" class="sign-beta__form">
    <input type="text" id="name" placeholder="Full name*"/>
    <input type="text" id="Company" placeholder="Company name*"/>
    <input type="text" id="phone" placeholder="Phone number*"/>
    <input type="text" id="Company-email" placeholder="Business or Company Email*"/>
    <input type="text" id="interested" placeholder="What feature are you most interested in?*"/>
    <button class="sign-beta__btn btn" type="submit">Submit</button>
  </form>
  </div>
  <div class="sign-beta__description">
    <ul class="sign-beta__list">
      <li class="sign-beta__item">
        <i class="sign-beta_circle"></i>
        Empower smarter planning and cost estimating.
        </li>
      <li class="sign-beta__item">
        <i class="sign-beta_circle"></i>
        Improve your productivity.
        </li>
      <li class="sign-beta__item">
        <i class="sign-beta_circle"></i>
        Reduce bidding costs.
      </li>
    </ul>
  </div>
</div>
<div class="overlay"></div>

